input, textarea, select{
  appearance: none;
  width: 100%;
  border-radius: .5rem;
  border: 1px solid var(--stroke-default);

  padding: .75rem 1rem;
  font: var(--text);
}

label{
  font: var(--text-sm);
  color: var(--text-secondary);
  display: block;
  margin-bottom: .25rem;
}

input:focus,
select:focus,
textarea:focus{
  outline: .125rem solid var(--surface-secondary);
  border: .125rem solid var(--stroke-highlight);
  outline-offset: .1px;
}

input[type="date"] {
  position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  width: 1.25rem;
  height: 1.25rem;
}

input[type="date"]::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 1rem;
  width: 1.25rem;
  height: 1.25rem;
  transform: translateY(-50%);
  background: url("../../assets/icons/calendar-03.png") center/contain no-repeat;

}

select{
  background: url(../../assets/icons/arrow-down-01.png)
  no-repeat calc(100% - 1rem);
}
